<%% title edit(:<%= class_name.underscore.humanize.downcase %>) %>

<%= render_form %>

<%- if actions? :show, :index -%>
<div id="bottom_links">
<%- if action? :show -%>
  <%% if can? :show, @<%= class_name.underscore.humanize.downcase %> -%>
    <%%= link_to t(:show), <%= item_path :instance_variable => true %> %> |
  <%% end %>
<%- end -%>
<%- if action? :index -%>
  <%%= link_to view(:<%= class_name.underscore.humanize.downcase %>), <%= items_path %> if can? :index, <%= class_name %> %>
<%- end -%>
</div>
<%- end -%>
