<%% title pl(:<%= class_name.underscore.humanize.downcase %>) %>

<table>
  <tr>
  <%- for attribute in model_attributes -%>
    <th><%%= t('formtastic.labels.<%= attribute.name %>') %></th>
  <%- end -%>
  </tr>
  <%% for <%= instance_name %> in @<%= instances_name %> %>
    <tr>
    <%- for attribute in model_attributes -%>
      <td><%%= <%= instance_name %>.<%= attribute.name %> %></td>
    <%- end -%>
    <%- if action? :show -%>
      <td><%%= link_to t(:show), <%= item_path %> %></td>
    <%- end -%>
    <%- if action? :edit -%>
      <td><%%= link_to t(:edit), <%= item_path :action => :edit %> %></td>
    <%- end -%>
    <%- if action? :destroy -%>
      <td><%%= link_to t(:del), <%= item_path %>, :confirm => sure?, :method => :delete %></td>
    <%- end -%>
    </tr>
  <%% end %>
</table>

<%- if action? :new -%>
<p><%%= link_to new(:<%= class_name.underscore.humanize.downcase %>), <%= item_path :action => :new %> if can? :new, <%= class_name %> %></p>
<%- end -%>
