<%% title new(:<%= class_name.underscore.humanize.downcase %>) %>

<%= render_form %>

<%- if action? :index -%>
<div id="bottom_links">
  <%%= link_to view(:<%= class_name.underscore.humanize.downcase %>),
  <%= items_path %> if can? :index, @<%= class_name %> %>
</div>
<%- end -%>
